
@media screen and (max-width: 576px), (max-height: 500px) {
    .contain-create {
        padding: 4px !important;
    }

    .fas{
        margin:0.66rem 0.3rem;
    }
    .re-div{
        margin:5vw;
    }
}