@model _1640WebApp.Data.Funds

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}

<style>
    .contain-create {
        background-image: url('https://media.istockphoto.com/id/1356933529/photo/futuristic-technology-wave-digital-cyberspace-abstract-wave-with-moving-particles-on.jpg?b=1&s=170667a&w=0&k=20&c=OY4o0-8rTUd2_JXj7rQAeMGioyUjuxthyqbWuYaqGVU=');
        object-fit: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        position: absolute;
        top: 57px;
        right: 0;
        left: 0;
        bottom: 0;
        overflow-y: scroll !important;
        padding-left: 70px;
        color: white;
        font-weight: bold;
    }

    check-box {
        margin: 5px 5px 5px 0px !important;
    }
</style>

<div class="contain-create">
    <div style="height:40px;"></div>
    <h1>Edit</h1>

    <h4>Funds</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="NameFund" class="control-label"></label>
                    <input asp-for="NameFund" class="form-control" />
                    <span asp-validation-for="NameFund" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <input asp-for="Content" class="form-control" />
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Datetime" class="control-label"></label>
                    <input asp-for="Datetime" class="form-control" />
                    <span asp-validation-for="Datetime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

