<!DOCTYPE html>
<html lang="en">v
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - _1640WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_1640WebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <script src="https://kit.fontawesome.com/b43c192976.js" crossorigin="anonymous"></script>
    
    <style>
        

        header{
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
        }

        .footer {
            background-color: #24262b;
            padding: 70px 0;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
        }

        .footer-col {
    width: 25%;
    padding: 0 15px;
}

    .footer-col h4 {
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }

        .footer-col h4::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -10px;
            background-color: #e91e63;
            height: 2px;
            box-sizing: border-box;
            width: 50px;
        }

    .footer-col ul li:not(:last-child) {
        margin-bottom: 10px;
    }

    .footer-col ul li a {
        font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
    }

        .footer-col ul li a:hover {
            color: #ffffff;
            padding-left: 8px;
        }

    .footer-col .social-links a {
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255,255,255,0.2);
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all 0.5s ease;
    }

        .footer-col .social-links a:hover {
            color: #24262b;
            background-color: #ffffff;
        }


    </style>
</head>
<body class="body">
    <header style="z-index:1">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow " style="background-color: #24262b;">
            <div class="container-fluid">
                <button style="background-color: #fff;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse ">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item" style="display: flex; justify-content: center; align-items: center;">
                            <a class="nav-link text-dark text-white" asp-area="" asp-controller="Home" asp-action="MainHome"> <img style="width: 30px;" src="~/images/logo.png" alt="Logo"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark text-white" asp-area="" asp-controller="Home" asp-action="MainHome">Home</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Staff's rights
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Submission" asp-action="Index">Submission</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Idea" asp-action="ViewIdeas">View Ideas</a>
                                <a class="dropdown-item" asp-area="" asp-controller="NotificationUser" asp-action="Index">Notification</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Vote" asp-action="ViewVote">View Vote</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Manager's rights
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Email" asp-action="Form">Sent Email To Staff</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Analysis" asp-action="Index">Analysis</a>
                                <a class="dropdown-item" href="#">...</a>
                                <a class="dropdown-item" href="#">...</a>
                                <a class="dropdown-item" href="#">...</a>

                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Coordinator's rights
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="StaffManageByCoordinator" asp-action="Index">Manage Staff</a>
                                <a class="dropdown-item" asp-area="" asp-controller="StaffManageByCoordinator" asp-action="ViewSubmission">Submission</a>
                                <a class="dropdown-item" href="#">...</a>
                                <a class="dropdown-item" href="#">...</a>

                            </div>
                        </li>

                         <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Admin's rights
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="SubmissionManageByAdmin" asp-action="Index">Manage Submissions</a>
                                <a class="dropdown-item" asp-area="" asp-controller="StaffSubmissionManageByAdmin" asp-action="Index">Manage Staff's Submissions</a>
                                <a class="dropdown-item" asp-area="" asp-controller="SuperUser" asp-action="Index">Roles</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Department" asp-action="Index">Departments</a>
                                <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Index">Users</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Vote" asp-action="Index">Vote</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Catogory" asp-action="Index">Categorys</a>
                                <a class="dropdown-item" asp-area="" asp-controller="NotificationAdmin" asp-action="Index">Notificaitons</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark text-white" asp-area="" asp-controller="Home" asp-action="Chat">Chat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark text-white" asp-area="" asp-controller="Home" asp-action="AboutUs">AboutUs</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>

    </header>
    <div class="">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer style="text-align:left;" class="footer">
        <div style="background:#24262b;display:block;" class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">affiliate program</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">shipping</a></li>
                        <li><a href="#">returns</a></li>
                        <li><a href="#">order status</a></li>
                        <li><a href="#">payment options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>online shop</h4>
                    <ul>
                        <li><a href="#">watch</a></li>
                        <li><a href="#">bag</a></li>
                        <li><a href="#">shoes</a></li>
                        <li><a href="#">dress</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
